.card-container {
  display: flex;
  flex-wrap: wrap;
  border-radius: 25px;
  justify-content: space-around;
  margin: 22px 0;
  width: 92%;
  background-color: #f7f7f7;
  margin-top: 110px;
  margin-left: 50px;
  margin-bottom: -120px;
  padding-top: 35px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 10px;
}

.card-apart {
  display: flex;
  position: relative;
  width: 335px;
  height: 225px;
  border-radius: 10px;
  object-fit: cover;
  margin-top: 5px;
  margin-bottom: 30px;
}

.link-card-apart {
  text-decoration: none;
}
